* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

}

body {
    background-image: url(./assets/home.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;

    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    gap: 5rem;

    margin: 7rem 0 0 7rem;
}

a {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 2.1rem;
    line-height: 2.2rem;
    color: #C4C4CC;
}

a:hover {
    font-weight: bold;
    color: white;
}

#app {
    display: flex;
    flex-direction: column;

    height: 80vh;
}

h1,
h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 6rem;
    line-height: 8rem; 
    color: #E1E1E6; 
    text-align: center;  
    margin-top: 30vh;
}

button {
    width: 19.5rem;
    height: 4.8rem;
    align-self: center;
    margin-top: 2.5rem;

    background: transparent;
    border: 1px solid white;
    border-radius: .5rem;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem; 
    color: white;
}

button:hover {
    cursor: pointer;
    background: white;
    color: #02799d;
}

h2,
p {
    text-align: left;
    margin-top: 15vh;
    margin-left: 16.5rem;
}

p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 2rem;
    line-height: 4rem;
    color: #E1E1E6;

    width: 40vw;
    margin-top: 4rem;
}


